<nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(235, 230, 230);">
    <a href="/index"><img src="images/logo.png" height="80px" class="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="collapsenavbar">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link text-black">Home</a>
        </li>

        <li class="nav-item">
          <a href="/about" class="nav-link text-black">About Us</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link text-black">
            <i class="cart fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>
          </a>
        </li>

      </ul>


      <!-- ******Sign Up***********8 -->
      <a href="/registration" class="nav-link text-black">
        <!-- <i class="signup fa fa-sign-in fa-2x" aria-hidden="true"></i> -->
        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>

    </div>

    </div>

  </nav>

  </div>
  </nav>