<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- FontAwsome icon -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>about</title>
</head>

<body>

    <!-- ***************Navigation Menu************** -->
    <%- include('./partials/navbar.ejs') %>

    <!-- **********************end********************* -->
    <section class="about">
        <div class="container">
            <h5 class="text-center">About Us</h5>
            <p>FANSTORE is where fans can support their favorite influencers through buying their merchandise. FANS can
                stand out among their friends by wearing their favorite influencer’s merchandise.

                We provide custom made apparels and meaningful products so fans can feel much closer to people they look
                up to.



                For Influencers, we provide end to end solutions for merchandising without any risk. Let’s talk!</p>
        </div>
    </section>

    <!-- //////////////Contact Us//////////// -->

    <section class="contact">
        <div class="container text-center">
            <h1>Contact</h1>

            <input type="text" placeholder="Your Name" name="name" class="form-control"> <br />
            <input type="email" placeholder="E-mail" name="email" class="form-control"> <br />
            <textarea name="message" placeholder="Message" rows="4" class="form-control"></textarea> <br />

            <input type="Submit" value="SUBMIT">

        </div>
    </section>


    <!-- ********************Footer********************** -->
    <%- include('./partials/footer.ejs') %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>