<!doctype html>
<html>

<head>
<style>
  .container
  {
    text-align: center;
  }
  h2
  {
    margin-top: 5px;
    font-size:80px;
  }
  p{
    
    font-size: 50px;
  }
  input{   
    background-color: #336633;
    border: none;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    margin: 20px 20px;
    cursor: pointer;
  }
</style>
</head>

<body>
    <section class="container">
          <img src="images/troll.png" alt="t1"  height="300px">
          <h2>Thank you!</h2>
          <p>Your order was successfuly completed.</p>
          <a href="/"><input type="button" value ="Back to Home Page"></a>
    </section>
</body>

</html>